/* First example of css */
body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}



/* 
p {
  border: 2px solid powderblue;
}

p {
  border: 2px solid powderblue;
  padding: 30px;
}

p {
  border: 2px solid powderblue;
  margin: 50px;
}

Use the CSS color property for text colors
Use the CSS font-family property for text fonts
Use the CSS font-size property for text sizes
Use the CSS border property for borders
Use the CSS padding property for space inside the border
Use the CSS margin property for space outside the border
*/